<h1>Parent Companent</h1>
<div>
    <h1>User manage</h1>
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <!-- every form contain user from -->
        <div class="form-group">
            <label for="nameUser">User name</label>
            <input type="text" id="nameUser" formControlName="name">
            <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                <p *ngIf="userForm.get('name')?.hasError('required')"> user name is required</p>
                <p *ngIf="userForm.get('name')?.hasError('minLength')"> user name less than 3</p>
            </div>
        </div>

        <div class="form-group">
            <label for="ageUser">User age</label>
            <input type="text" id="ageUser" formControlName="age">
            <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched">
                <p *ngIf="userForm.get('age')?.hasError('required')"> user age is required</p>
                <p *ngIf="userForm.get('age')?.hasError('minLength')"> user name less than 3</p>
            </div>
        </div>
        <div class="form-group">
            <label for="salaryUser">User salary</label>
            <input type="text" id="salaryUser" formControlName="salary">
            <div *ngIf="userForm.get('salary')?.invalid && userForm.get('salary')?.touched">
                <p *ngIf="userForm.get('salary')?.hasError('required')"> user age is required</p>
                <p *ngIf="userForm.get('salary')?.hasError('minLength')"> user name less than 3</p>
            </div>
        </div>
        <button type="submit" class="update-btn" [disabled]="userForm.invalid">
            {{isOnEditUser?'Update User' : 'Add user'}}</button>
    </form>

</div>

<!-- 
<app-child *ngFor="let user of users" [user]="user" (selectedUserId)="onDeleteCall($event)"
    (editUser)="onEditUser($event)">
</app-child> -->